.agent {
    min-height: 342px;
    background: url('../../../img/Layer\ 6.png') center (center/cover) no-repeat;
    padding: 57px 0 75px 0;
    &__icon {
        width: 102px;
        height: 102px;
        border-radius: 51px;
        border: 1px solid #ffffff;
        margin: 0 auto;
        img {
            display: block;
            margin: 0 auto;
            padding: 25px 0;
        }
    }
    &__title {
        font-size: 26px;
        line-height: 23px;
        color: #ffffff;
        font-weight: 700;
        text-align: center;
        margin-top: 20px;
    }
    &__subtitle {
        font-size: 19px;
        line-height: 27px;
        color: #ffffff;
        font-weight: 300;
        text-align: center;
        margin-top: 24px;
    }
}